span {
    font-family: 'MAIN-B';
    font-size: 24px;
    color: black;
    margin-top: 30px;
    margin-left: 30px;
}

.btn-show {
    height: 34px;
    padding: 8px 35px 8px 35px;
    border-radius: 999px;
    font: normal normal medium 14px/18px SUIT;
    letter-spacing: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    background: #D2CFFB 0% 0% no-repeat padding-box;
    border: 1px solid #4F40F1;
    color: #4F40F1;
}

.btn-none {
    height: 34px;
    padding: 8px 35px 8px 35px;
    border: 1px solid #9496A1;
    border-radius: 999px;
    font: normal normal medium 14px/18px SUIT;
    letter-spacing: 0px;
    background-color: transparent;
    color: #9496A1;
    text-align: center;
    display: flex;
    align-items: center;
}

.btn-none:hover {
    background: #D2CFFB 0% 0% no-repeat padding-box;
    border: 1px solid #4F40F1;
    color: #4F40F1;
}