.card.box-shadow
    .card-body
        .row
            span.title {{title}}
            // .container-button.ml-auto(style="background:#E7E7F0;border-radius:999px;width:126px;height:26px")
            //     .row
            //         .container-button1(style="background:#4F40F1;color:white;border-radius:999px;width:64px;height:26px;text-align:center") 건수별
            //         .container-button2(style="width:auto") 연도별

        .row(style="margin-top:65px")
            // canvas(height="320", id="widget-test")
            canvas#widget-pie(height="320")