doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title 2023 KMBIG
        base(href="/")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="shortcut icon", href="/assets/kmbig_favicon.ico")

    body
        app-root
