.data-content {
    width: 1297px;
    // height: 714px;
    background: none;
    padding: 30px;
}

.data-result {
    width: 483px;
    // height: 714px;
    background: #E5E2F5;
    box-shadow: 0px 3px 24px #E3E6EC;
    border-radius: 10px;

    .table {
        width: 423px;
        height: 412px;
        font-size: 20px;
        font-family: 'MAIN-M';
        margin-left: 30px;
        margin-top: 20px;
        border-radius: 10px;

        thead {
            // height: 83px;
            font-size: 20px;
            border-top-left-radius: 10px;

            th {
                font-size: 20px;
                vertical-align: middle;
                color: black;
            }
        }

        tbody {
            background: white;
            vertical-align: middle;
        }

        th:first-child,
        td:first-child {
            border-right: 1px solid #D2D4DA;
        }

        tr:last-child {
            td:first-child {
                border-bottom-left-radius: 10px;
            }

            td:last-child {
                border-bottom-right-radius: 10px;
            }
                // border-bottom: none;
        }
    }

    .btn-chd {
        width: 423px;
        height: 100px;
        background: #4F40F1;
        border-radius: 10px;
        color: white;
        text-align: center;
        font-family: 'MAIN-B';
        font-size: 40px;
        border: none;
        margin-left: 30px;
        margin-top: 20px;
        pointer-events: none;
    }
}

.br-none {
    height: auto!important;
    margin-left: 15px!important;
    th:first-child,
    td:first-child {
        border-right: none!important;
    }
    td {
        font-size: 16px;
    }
}