.container-full
    .container-sub
        .container-image
            .row
                .col-auto
                    .content
                        .content-menu
                            a(routerLink="/main")
                                i.fa-solid.fa-house(style="color:black;width:20px;height:20px")
                            i.fa-solid.fa-chevron-right.ml-2(style="color:#5B5D6B")
                            a.cursor-pointer.ml-2.text-menu(routerLink="/test/device")
                                span 데이터셋 대시보드
                            i.fa-solid.fa-chevron-right.ml-2(style="color:#5B5D6B")
                            span.ml-2.text-menu {{dataset_name}}
                            // a.cursor-pointer.ml-2.text-menu(routerLink="/dashboard/device")
                            //     span {{dataset_name}}

                        .content-menu-name
                            span.text-menu-name {{dataset_name}}

                        .content-content
                            // span.text-content 한의약 데이터부, 디지털 임상연구부, 한의과학연구부, 한의약융합연구부 등에서 기기 데이터셋으로 비식별화된 데이터셋 21종, 약 14만 건의 데이터를 제공한다.
                            // span.text-content {{dataset_content}}
                            span.text-content {{category_ls.content}}
                .col-auto.pr-0
                    .dataset-menu
                        .card.menu-card(*ngFor="let item of dataset_ls;let i = index", (click)="click(item.id)")
                            // a.cursor-pointer(style="text-decoration:none;font-size:16px;color:black") {{item.title}}
                            span {{item.title}}

    .container-sub2
        .container-dashboard
            .row
                .pie-chart
                    // wiz-component-chart-pie()
                    wiz-component-chart-pie(title="건수별 / 연도별", [labels]="labels", [datas]="datas", [colors]="colors")
                .situation-bar.p-0
                    .row.m-0
                        .dataset-card.p-0
                            .row
                                span(style="font-size:18px;font-family:'MAIN-M';margin-top:20px;margin-left:20px") 항목별 보유현황
                                // span.ml-auto 예외 데이터셋
                            .dataset-card-list
                                .card.menu-card.cursor-pointer(*ngFor="let item of dataset_ls;let i = index", (click)="click2(item.id)", ngClass="{{item.css_class}}")
                                    span {{item.title}}
                        .bar-chart.p-0
                            wiz-component-chart-bar([url]="link")

            .row
                .intersection-chart
                    wiz-component-chart-intersection()
                .line-chart.pr-0
                    wiz-component-chart-line()

            .row
                .card.analysis.box-shadow
                    .row
                        .doughnut-chart.p-0
                            wiz-component-chart-doughnut()
                        .card.chart-base.p-0
                            .bar-chart-right(style="border-radius:10px")
                                wiz-component-chart-bar-left()

            .row(style="margin-bottom:50px")
                .card.analysis2.box-shadow
                    .row
                        .constitution.p-0
                            .row
                                span(style="font-size:18px;font-family:'MAIN-M';margin-top:20px;margin-left:20px") 체질 - 알레르기
                            .row
                                .card.constitution-card.box-shadow
                                    .card.constitution-card2.box-shadow
                                        img(src="/assets/images/dashboard/tai-yang.svg")
                                    span(style="margin-top:8px;color:white;font-family:'MAIN-M';font-size:18px;text-align:center") 태양인
                                .card.constitution-card3.box-shadow
                                    .card.constitution-card4.box-shadow
                                        img(src="/assets/images/dashboard/tai-eum.svg")
                                    span(style="margin-top:8px;color:black;font-family:'MAIN-M';font-size:18px;text-align:center") 태음인
                            .row
                                .card.constitution-card3.box-shadow(style="margin-left:30px")
                                    .card.constitution-card4.box-shadow
                                        img(src="/assets/images/dashboard/so-yang.svg")
                                    span(style="margin-top:8px;color:black;font-family:'MAIN-M';font-size:18px;text-align:center") 소양인
                                .card.constitution-card3.box-shadow
                                    .card.constitution-card4.box-shadow
                                        img(src="/assets/images/dashboard/so-eum.svg")
                                    span(style="margin-top:8px;color:black;font-family:'MAIN-M';font-size:18px;text-align:center") 소음인
                        .chart-base2.p-0
                            wiz-component-chart-bar-many()