.card.box-shadow
    .card-body
        .row
            span.title {{title}}
        .row(style="margin-top:65px")
            // canvas#widget-years(height="320")
            canvas#widget-years(height="380")