.community    
    .list(*ngIf="mode == 'list'")
        wiz-portal-community-list()
    .edit(*ngIf="mode == 'edit'")
        wiz-portal-community-edit()
    .view(*ngIf="mode == 'view'")
        wiz-portal-community-view()