.box-shadow {
    box-shadow: 0px 3px 24px #E3E6EC !important;
}

.br-10 {
    border-radius: 10px;
}

.br-50 {
    border-radius: 50px;
}

.btlr {
    border-top-left-radius: 10px;
}

.btrr {
    border-top-right-radius: 10px;
}